* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Reddit Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #090f26;
  color: #fff;
  height: 100%;
  padding: 0 50px;
}

.nav-link-active {
  color: #00c16a !important;
}

.nav-link-active::after {
  content: '' !important;
  position: absolute !important;
  background: #00c16a !important;
  height: 2px !important;
  border-radius: 1px !important;
  width: 100% !important;
  bottom: 0 !important;
  left: 0 !important;
}

.complitedStatus {
  position: relative;
}

.complitedStatus::after {
  content: '';
  display: flex;
  justify-content: center;
  top: 50%;
  left: 2%;
  width: 95%;
  height: 1px;
  background-color: #fff;
  position: absolute;
}
